spring:
  config:
    activate:
      on-profile: dev

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

sa-token:
  is-log: true

logging:
  level:
    root: info
    com.ezadmin: debug
