<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezadmin.modules.system.mapper.UserMapper">


    <select id="findPage" resultType="com.ezadmin.model.vo.UserListVO" >
        select u.*,dept.dept_name from ez_admin_user as u
        left join ez_admin_dept as dept on u.dept_id = dept.dept_id
        where u.is_deleted = 0
        <if test="search.username != null and search.username != ''">
            and u.username like concat('%', #{search.username}, '%')
        </if>
        <if test="search.username != null and search.username != ''">
            and u.nickname like concat('%', #{search.nickname}, '%')
        </if>
        <if test="search.deptId != null and search.deptId != ''">
            and u.dept_id = #{search.deptId}
        </if>
    </select>
</mapper>
